@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

@media screen and (min-width: 760px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
        background-attachment: fixed;
    }

    main {
        width: 90vw;
        min-height: 325px;
        height: 35vw;
    }

    main > section#imagem {
        float: left;
        background-position: left center;
        width: 30%;
        height: 100%;
    }

    main > form {
        float: right;
        width: calc(70% - 20px);
    }
}

@media screen and (min-width: 992px) {
    main > section#imagem {
        float: right;
        background-position: right center;
    }

    main > form {
        float: left;
    }
}