@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Roxo: #5f2c82
*/

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

body {
    background-color: var(--cor2);
}

main {
    background: white url(../imagens/pexels-technobulka-2908978.jpg) center top / 100% 35% no-repeat;
    min-width: 300px;
    width: 50vw;
    margin: 100px auto;
    padding: 10px;
    padding-top: 220px;
    border-radius: 10px;
}

main h1 {
    margin: 10px;
    text-align: center;
}

section {
    display: block;
    text-align: end;
    background-color: var(--cor2);
    margin: 5px auto;
    border-radius: 10px;
    width: 90%;
}

section span {
    color: white;
    transform: translate(10%, 35%);
    margin-right: 5%;
    font-variation-settings: 'FILL' 10;
}

section input {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}

main > form > input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 15px;
    color: white;
    border-radius: 5px;
    background-color: var(--cor1);
    cursor: pointer;
}

main > form > input:hover {
    background-color: #183635;
}

main > a {
    display: block;
    margin: 10px auto;
    width: 72%;
    padding: 12px;
    color: black;
    text-align: center;
    font-size: 0.8em;
    font-variation-settings: 'opsz' 5, 'wght' 200;
    border: 2px solid var(--cor1);
    border-radius: 5px;
}

main > a:hover {
    background-color: var(--cor1);
    border-color: var(--cor2);
}